<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ciudad Conecta</title>
  <link rel="icon" type="image/png" href="~/img/LogoConecta.jpg">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="~/css/site.css">
</head>

<body class="bg-gray-100">
  @RenderBody()

  <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js" defer></script>
  <script src="~/js/site.js" defer></script>

  @RenderSection("Scripts", required: false) 
</body>

</html>
